<!DOCTYPE html>
<html>

<head>
	<title>ui-virtual-select</title>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="../jspm_packages/github/SQiShER/virtual-select@1.0.2/virtual-select.css">
</head>

<body>

	<script src="node_modules/lodash/index.js"></script>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="../dist/virtual-select-angular.min.js"></script>
	<script src="app.js"></script>

	<div ng-app="app" ng-strict-di ng-controller="AppController as app">
		<p>
			<input type="button" ng-click="app.resetSelection()" value="Reset selection">
			<input type="button" ng-click="app.focusInput()" value="Focus!">
			<input type="button" ng-click="app.loadInput()" value="Pre-load!">
		</p>

		<ui-virtual-select ng-model="app.selection" ui-options-provider="app.uiVirtualSelectDataProvider"></ui-virtual-select>

		<!-- <p ng-show="app.makeItSlow()">{{ app.selection }}</p> -->
		<p>{{ app.selection }}</p>
	</div>

</body>

</html>